
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
@import url('./node_modules/swiper/swiper-bundle.min.css');
@import url('./node_modules/aos/dist/aos.css');
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:5em;
    /* background-image: url('./images/developer-8829735_1920.jpg'); */
    background-position:center;
    background-color:#212329c0;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
header{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:2em;
    position: relative;
}
/* header .banner h1{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 15%;
    font-family: 'Syne';
    font-size: 70px;
    text-shadow: 5px 2px 15px #ffff;
    font-weight: 700;
} */

.navbar{
    display: flex;
    padding: 1em;
   
}
.navbar .nav-links{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 1em;
     justify-content: center;
    align-items: center;
    width: 100%;
}
/* .nav-link:first-child{
    margin-right: auto;
} */
.nav-links .nav-link a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Syne';
    width: 100%;
    /* padding-bottom: 1.80em; */
}
.nav-links .nav-link a:hover{
    /* border-bottom: 4px solid #FF9142; */
}
.swiper{
    height: 500px;
}
main{
    /* border-left: 8px solid rgba(205, 11, 11, 0.604);
    border-top: 8px solid rgba(205, 11, 11, 0.604); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 4em;
    font-family: 'Share Tech', sans-serif;
    position: relative;
}
/* main::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    padding: 10px;
    box-shadow: 2px 2px 20px #ffff;
} */
footer .footer-links{
    list-style: none;
    display: flex;
    justify-content: end;
    /* color: #fff; */
    gap: 1em;
    padding: 0;
    font-weight: 500;
    font-size: 1.3em;
}
footer{
   
    padding: 1.5em;
}

.hero-section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    /* flex-basis: 70%; */
    height:100%;
    padding: 0;
}
#about figure{
    height: 300px;
    width: 300px;
    position: relative;
    transition: scale 1s ease;
    display: flex;
    justify-content: center;
}
#about figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
    object-position: center;
}
#about .hero-section-title{
    font-size:80px;
    font-weight: 900;
}
.hero-section-subtext{
    font-size: 1.5em;
   margin: 0;
   padding: 0;
   color: #fff;
}
#about .about-container{
    padding: 1em 2em;
    display: flex;
    justify-content:center;
    gap: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
     /* background-image: linear-gradient(123deg, #008559 0%, #007e94 50%, #006ce0 100%); */
}
#about{
    height:50vh;
    /* background: url('./images/developer-8829735_1920.jpg'); */
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    z-index: 100;
}
/* #about::before{
    content:'';
    height: 100%;
    width: 100%;
    background-color: #222020c3;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
} */
#about a{
    text-decoration: none;
    color: #1f1e1e;
    padding: .5em 1em;
    background-color: #FF9142;
    width: 100%;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    width: 30%;
    align-self:center;
}
#about a:hover{
    background-color: #e2813c;
    color: #ffff;
}
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
 .active {
    opacity: 1;
    transform: translateY(0);
  }



#contact{
    display: flex;
    justify-content: center;
    background-color: hsla(237, 35%, 20%, 0.2);
    padding: 3em;
}
.contact-form{
    border: none;
    width: 100%;
    animation: showUp .3s linear;
    #closeModal{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    }
}
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    box-sizing: 5px 0px 10px;
    padding: 2em;
    /* border-top: 2px solid #FF9142;
    border-right: 2px solid #FF9142; */
    /* box-shadow: 0 0px 10px; */
    font-family: 'Syne', sans-serif;;
    /* width: 500px;
    height: 600px; */
    
    background-color: transparent;
    label{
        font-size: 1.3em;
        font-weight: 500;
    }
    input{
        border-radius: 10px;
        padding: 1em;
        font-size: 1em;
        background-color: #fff;
    }
    textarea{
        padding: 1em;
        font-size: 1em;
        border-radius: 5px;
        background-color: #fff;
    }
}
h3{
    font-size: 2em;
    color: #fff;
    font-size: 600;
    font-size: 1.3em;
}
h2{
    
     font-size: 33px;
     font-weight: 800;
}
.my-works{
    /* background-color: hsla(226, 29%, 20%, 0.2); */
    /* background-image: linear-gradient(#9c5f5fd3,#ffff, #4444); */
    width: 100%;
    /* border-radius: 20px; */
    /* border-top: 3px solid  rgba(210, 61, 61, 0.704); */
    /* padding: 2em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.container{
    display:grid;
    grid:auto/repeat(3,1fr);
    column-gap: 1em;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}
.my-works .container .figure{
    position: relative;
    /* z-index: -100; */
}
.container .figure:last-child{
     grid-column-start: 1;
   grid-column-end: 4;
}
/* .my-works .container .figure::after{
    content:'Project: Website';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background-image: linear-gradient(hsla(0, 7%, 3%, 0.652), hsla(0, 2%, 64%, 0.91));
    top:0;  
    color: #ffffff;
} */


#themeBtn{
    background-color:transparent;
    border: none;
}
#skills{
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#skills .scroll-track{
    display: flex;
    width: 200%;
    box-sizing: border-box;
    margin: auto;
    gap: 2em;
    animation: scroll 20s linear infinite;
    animation-play-state: running;
}

#skills .skill-card{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    flex:1 1 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes showUp {
    from{transform: translateY(-50%);}
    to{transform: translateY(0);}
}
@keyframes hide {
    from{transform: translateY(0);}
    to{transform: translateY(-50%);}
}
.hidden{
animation: hide .3s linear;
}
.about{
    display: flex;
}
.about-me-text{
    display: flex;
    flex-direction: column;
    border: 2px solid #ff5e42;
    justify-content:center;
    padding: 1em;  
    height: 500px;
    box-sizing: border-box;
    align-items: center;
    .subtitle{
        font-family:'Share Tech', sans-serif;
        font-size: 70px;
    }
}
.about-me .image-container .figure{
   position: relative;
}
.about-me .image-container .figure::before{
     content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    padding: 5px;
    /* box-shadow: 2px 2px 25px hwb(38 27% 11%); */
}
.links-container .links-list{
 list-style: none;
 display: flex;
 justify-content: end;
 align-items: center;
 gap: 1em;
 padding: 1em;
 box-sizing: border-box;
}
.links-container .links-list li a{
    text-decoration: none;
    color: inherit;
}
.links-to-follow{
    margin-top: 5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links-to-follow h2{
    font-family: 'Share Tech', sans-serif;
}
