@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0;
  overscroll-behavior: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(114, 111, 111, 0.9607843137);
  background-blend-mode: difference;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  border-radius: 10px;
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Syne", sans-serif;
  width: 100%;
}
header .navbar .navbar-brand {
  font-weight: 800;
  color: rgba(218, 25, 44, 0.8588235294);
  font-size: 1.7rem;
}
header .navbar .navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Syne", sans-serif;
}
header .navbar .nav-item .nav-link {
  font-weight: 700;
  position: relative;
  width: 100%;
}
header .navbar .nav-item .nav-link:hover::before {
  content: "";
  height: 5px;
  width: 100%;
  padding: 0;
  position: absolute;
  background-color: rgba(218, 25, 44, 0.8588235294);
  bottom: 0;
  left: 0;
  animation: underline 0.3s linear;
  transition: width 0.5 linear;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.carousel #leftBtn,
.carousel #rightBtn {
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.718);
  border-radius: 5px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  justify-content: center;
  background-image: url("../images/developer-8764523.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: darken;
  width: 100%;
  padding: 1em;
  height: 500px;
  position: relative;
}
.hero-section .hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 100%;
  padding: 2em;
}
.hero-section .hero-section-container .contact-link {
  background-color: rgba(218, 25, 44, 0.8588235294);
  font-family: "Syne", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow, background-color 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}
.hero-section .hero-section-container .contact-link:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
  background-color: rgba(18, 18, 18, 0.629);
}
.hero-section .hero-section-container .hero-section-subtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  font-weight: 600;
  font-size: 1.6em;
  font-family: "Share Tech", sans-serif;
}

.hero-section-title {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  font-size: 4em;
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.877);
  padding: 1em;
}
#about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Share Tech", sans-serif;
  align-items: center;
  gap: 0em;
}
#about .about-container img {
  border-radius: 0.5rem;
  flex-basis: 40%;
}
#about .about-container .about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "Syne", sans-serif;
  padding: 1em;
  flex-basis: 50%;
}
#about .about-container .about-me-text .main-title {
  font-family: "Share Tech", sans-serif;
  font-weight: 900;
  font-size: 4em;
}
#about .about-container .about-me-text .quote-text {
  font-size: 1.2em;
  padding: 1em;
}
#about .about-container .about-me-text .resume-link {
  background-color: rgba(218, 25, 44, 0.8588235294);
  font-family: "Share Tech", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow, background-color 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  text-decoration: none;
  color: #fff;
}
#about .about-container .about-me-text .resume-link:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
  background-color: rgba(18, 18, 18, 0.629);
}

.links-to-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-block: 3em;
}
.links-to-follow .links-container .links-list {
  font-family: "Share Tech", sans-serif;
  list-style: none;
  display: flex;
  justify-content: c;
  padding: 0;
  gap: 1rem;
  align-items: center;
}
.links-to-follow .links-container .links-list a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Share Tech", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Share Tech", sans-serif;
}

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 1em;
  background-color: rgba(30, 32, 33, 0.37);
}
.my-works h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.my-works .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  flex-wrap: wrap;
  border-radius: 1em;
  gap: 1em;
  padding: 2em;
}
.my-works .cards-container .card {
  height: 30rem;
  width: 20rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-sizing: border-box;
  position: relative;
}
.my-works .cards-container .card .card-img-top {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.my-works .cards-container .card ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  gap: 0.5rem;
}
.my-works .cards-container .card ul li {
  flex-shrink: 1;
}
.my-works .cards-container .card .extend-icon {
  font-size: 1.3rem;
  position: absolute;
  right: 1em;
  cursor: pointer;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  padding: 1em;
}
#skills h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
#skills .skills-and-tools-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
#skills .skills-and-tools-container .skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Share Tech", sans-serif;
  gap: 1rem;
  padding: 1em;
  box-sizing: border-box;
}
#skills .skills-and-tools-container .skills-container .front-skills,
#skills .skills-and-tools-container .skills-container .back-skills,
#skills .skills-and-tools-container .skills-container .soft-skills {
  height: 340px;
  box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  -webkit-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  -moz-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  padding: 1em;
  border-radius: 10px;
  align-items: center;
  overflow-y: clip;
  transition: max-height, scale 1s linear;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  justify-content: space-around;
}
#skills .skills-and-tools-container .skills-container .front-skills ul,
#skills .skills-and-tools-container .skills-container .back-skills ul,
#skills .skills-and-tools-container .skills-container .soft-skills ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  text-align: center;
}
#skills .skills-and-tools-container .skills-container .front-skills ul li,
#skills .skills-and-tools-container .skills-container .back-skills ul li,
#skills .skills-and-tools-container .skills-container .soft-skills ul li {
  font-size: 1em;
}
#skills .skills-and-tools-container .skills-container .front-skills h4,
#skills .skills-and-tools-container .skills-container .back-skills h4,
#skills .skills-and-tools-container .skills-container .soft-skills h4 {
  font-size: 1.5em;
}
#skills .skills-and-tools-container .skills-container .front-skills .progress,
#skills .skills-and-tools-container .skills-container .back-skills .progress,
#skills .skills-and-tools-container .skills-container .soft-skills .progress {
  width: 100%;
  display: flex;
  height: 35px;
  align-items: center;
  border-radius: 2px;
  padding: 1em;
  background-color: transparent;
  gap: 1rem;
}
#skills .skills-and-tools-container .tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-evenly;
  gap: 1em;
  padding: 1em;
  box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  -webkit-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  -moz-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
  text-align: center;
  font-family: "Share Tech", sans-serif;
  height: 340px;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
}
#skills .skills-and-tools-container .tools ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0;
}
#skills .skills-and-tools-container .tools ul li i {
  font-size: 2.2rem;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-color: rgba(0, 0, 0, 0.29);
  padding: 1em;
  width: 100%;
  margin: 0;
}
#services .services-container {
  height: 100%;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 1em;
  padding: 2em;
  margin: 0;
  border-radius: 1em;
}

.section-title {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

.modal-dialog {
  height: 500px;
  width: 700px;
}
.modal-dialog img {
  object-fit: cover;
}

#smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  max-width: 1700px;
  margin: auto;
}

#smooth-content {
  will-change: transform;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  margin-top: 1em;
  gap: 1rem;
}
.filter-buttons .filter-button {
  background-color: rgba(18, 18, 18, 0.875);
  font-family: "Syne", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow, background-color 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  border: none;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8509803922);
}
.filter-buttons .filter-button:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
  background-color: rgba(18, 18, 18, 0.629);
}
.filter-buttons .filter-tilte {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
}
.filter-buttons .filter-tilte i {
  color: rgba(248, 26, 26, 0.842);
}

.card {
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-card {
  animation: fade-in 0.5s linear;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
#contact .container {
  width: 60%;
}
#contact i {
  color: rgba(248, 26, 26, 0.842);
}

@media only screen and (max-width: 1200px) {
  .hero-section-title {
    font-size: 2.2rem;
  }
  .hero-section .hero-section-container .hero-section-subtext {
    font-size: 1.5rem;
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .filter-buttons {
    justify-content: space-between;
  }
  .filter-title {
    font-size: 1.3rem;
  }
  .filter-button {
    font-size: 13px;
    flex: 1 1 auto;
  }
  .container {
    justify-content: start;
  }
  #skills .skills-and-tools-container {
    flex-wrap: wrap;
  }
  #skills .skills-and-tools-container .card {
    flex-basis: 30%;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 879px) {
  #about .about-container img {
    height: 300px;
  }
}
@media only screen and (max-width: 830px) {
  .hero-section-title {
    font-size: 2rem;
  }
  .hero-section-subtext {
    font-size: 1.5rem;
  }
  .container {
    justify-content: start;
  }
  .main-title {
    font-size: 2rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .card {
    flex-grow: 1;
    width: 100%;
  }
  .filter-tilte {
    display: none;
  }
  .filter-tilte i {
    display: block;
  }
  #services .services-container h3 {
    font-size: 1em;
  }
  .hero-section .hero-section-container .hero-section-subtext {
    font-size: 1.3rem;
  }
  .car-text {
    gap: 0.5em;
  }
  .car-text li {
    font-size: 5px;
  }
  #about .about-container {
    flex-direction: column;
  }
  #about .quote-text {
    font-size: 1.3rem;
  }
  .skills-and-tools-container {
    flex-direction: column;
  }
  .skills-and-tools-container .skills-container {
    flex-direction: column;
  }
  .skills-and-tools-container .front-skills, .skills-and-tools-container .back-skills, .skills-and-tools-container .tools, .skills-and-tools-container .soft-skills {
    width: 100%;
  }
}
@media only screen and (max-width: 651px) {
  .hero-section-title {
    font-size: 1.5rem;
  }
  .hero-section .hero-section-container .hero-section-subtext {
    font-size: 1rem;
  }
  .card {
    border: none;
  }
  #works {
    padding: 0;
  }
  #works .cards-container {
    margin: 0;
    padding: 0;
    gap: 1em;
  }
  #works .cards-container .card {
    height: 300px;
    gap: 0.5rem;
    border: none;
    flex-shrink: 1;
  }
  #works .cards-container .card img {
    height: 50%;
  }
  h1 {
    font-size: 2 em;
  }
  .filter-buttons {
    display: grid;
    grid: auto/repeat(3, 1fr);
  }
  .filter-buttons .filter-button:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .filter-buttons h3 {
    display: none;
  }
}
@media only screen and (max-width: 515px) {
  .skills-and-tools-container .skills-container .soft-skills {
    justify-content: start;
    padding: 0;
  }
  .skills-and-tools-container .skills-container .soft-skills ul li {
    line-height: 1;
  }
  li {
    font-size: 0.3em;
  }
  .hero-section {
    height: 300px;
  }
  .hero-section .hero-section-container {
    justify-content: start;
  }
  .hero-section .hero-section-container .hero-section-title {
    font-size: 1em;
  }
  .hero-section .hero-section-container .hero-section-subtext {
    font-size: 0.6em;
  }
  .hero-section .hero-section-container .contact-link {
    font-size: 1em;
  }
  .hero-section h1 {
    font-size: 1.5rem;
    text-align: justify;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  #about .about-container img {
    height: 200px;
    width: 100%;
  }
  #about .about-container .about-me-text .quote-text {
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
  .navbar .navbar-brand {
    font-size: 2px;
  }
}
.swiper {
  width: 100%;
  height: 350px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  background-color: rgba(27, 26, 26, 0.5333333333);
  background-blend-mode: darken;
}
.swiper-slide h3 {
  color: rgba(255, 255, 255, 0.9333333333);
  background-color: rgba(20, 19, 19, 0.4078431373);
  padding: 1em;
}

.swiper .swiper-slide:first-child {
  background-image: url("../images/design.webp");
}
.swiper .swiper-slide:nth-child(2) {
  background-image: url("../images/webd.jpg");
}
.swiper .swiper-slide:nth-child(3) {
  background-image: url("../images/backimg.webp");
}
.swiper .swiper-slide:nth-child(4) {
  background-image: url("../images/bc_code.webp");
}
.swiper .swiper-slide:nth-child(5) {
  background-image: url("../images/seo.webp");
}

/*# sourceMappingURL=main.css.map */
