@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  overscroll-behavior: none;
  --webkit-scrollbar:none;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 90%;
  padding: 2em 0;
  border-radius: 10px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  padding: 1em 0;
  margin: 0;
  width: 100%;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Syne", sans-serif;
  width: 100%;
}
header .navbar .nav-links {
  font-family: "Syne", sans-serif;
  list-style: none;
  display: flex;
  justify-content: c;
  padding: 0;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
header .navbar .nav-links a {
  color: inherit;
  text-decoration: none;
}
header .navbar .nav-links #themeBtn {
  background-color: transparent;
  border: none;
}
header .navbar .nav-links .nav-link a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  font-weight: 600;
  transition: color 0.3s linear;
}
header .navbar .nav-links .nav-link a:hover {
  color: rgba(218, 25, 44, 0.8588235294);
}
header .navbar .nav-links .nav-link a:hover:active {
  color: rgb(220, 70, 70);
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-image: url("../images/developer-8764523.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.728);
  background-blend-mode: darken;
  width: 100%;
  padding: 1em;
}
.hero-section .hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 100%;
  padding: 1em;
}
.hero-section .hero-section-container .hero-section-subtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  font-weight: 600;
  font-size: 1.6em;
  font-family: "Share Tech", sans-serif;
}

.hero-section-title {
  font-family: "Share Tech", sans-serif;
  font-weight: 900;
  font-size: 5em;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
#about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Share Tech", sans-serif;
  gap: 0em;
}
#about .about-container .about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "Syne", sans-serif;
  padding: 1em;
  flex-basis: 100%;
}
#about .about-container .about-me-text .main-title {
  font-family: "Share Tech", sans-serif;
  font-weight: 900;
  font-size: 4em;
}
#about .about-container .about-me-text .quote-text {
  font-size: 1.2em;
  padding: 1em;
  width: 90%;
  margin: auto;
}
#about .about-container .about-me-text .resume-link {
  background-color: rgba(218, 25, 44, 0.8588235294);
  font-family: "Share Tech", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  text-decoration: none;
  color: #fff;
}
#about .about-container .about-me-text .resume-link:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
}

.links-to-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-block: 3em;
}
.links-to-follow .links-container .links-list {
  font-family: "Share Tech", sans-serif;
  list-style: none;
  display: flex;
  justify-content: c;
  padding: 0;
  gap: 1rem;
  align-items: center;
}
.links-to-follow .links-container .links-list a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Share Tech", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Share Tech", sans-serif;
}

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
  padding: 0;
}
.my-works h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.my-works .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  flex-wrap: wrap;
  gap: 1em;
  box-sizing: border-box;
  padding: 2em;
}
.my-works .cards-container .card {
  height: 30rem;
  width: 20rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-sizing: border-box;
  flex: 1 1 auto;
}
.my-works .cards-container .card .card-img-top {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.my-works .cards-container .card ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  gap: 0.5rem;
}
.my-works .cards-container .card ul li {
  flex-shrink: 1;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}
#skills .skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}
#skills .skills-container .skill-card {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  box-shadow: 5px 5px 10px rgba(58, 56, 56, 0.737254902);
  padding: 1em;
}
#skills .skills-container .skill-card img {
  height: 40%;
  object-fit: cover;
  width: auto;
}
#skills h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
#services .services-container {
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
  padding: 2em 0;
  margin: 0;
}
#services .services-container .card {
  height: 200px;
  text-align: center;
  width: auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  justify-content: center;
  flex: 1 1 auto;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset -5px -5px 10px rgba(255, 255, 255, 0.173);
  transition: transform 0.2s ease-in;
  flex-basis: 20%;
  border-radius: 0.5em;
}
#services .services-container .card h4 {
  font-family: "Share Tech", sans-serif;
  font-size: 1.5em;
}
#services .services-container .card:hover {
  transform: translate(0, -0.5em);
}
#services .services-container .card i {
  color: rgba(255, 0, 0, 0.519);
}

.section-title {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

#smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  max-width: 1700px;
  margin: auto;
}

#smooth-content {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  will-change: transform;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  margin-top: 1em;
  gap: 1rem;
}
.filter-buttons .filter-button {
  background-color: rgba(18, 18, 18, 0.714);
  font-family: "Syne", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  border: none;
  font-weight: 600;
  padding: 0.5em 1.5em;
}
.filter-buttons .filter-button:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
}
.filter-buttons .filter-tilte {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  font-weight: 700;
}
.filter-buttons .filter-tilte i {
  color: rgba(248, 26, 26, 0.842);
}

.card {
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-card {
  animation: fade-in 0.5s linear;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
#contact .container {
  width: 60%;
}
#contact i {
  color: rgba(248, 26, 26, 0.842);
}

#goUpBtn {
  text-decoration: none;
  color: inherit;
  position: relative;
  bottom: 0;
  right: 0;
}
#goUpBtn i {
  color: rgba(218, 25, 44, 0.8588235294);
  font-size: 30px;
}
#goUpBtn:hover::after {
  content: "Aller en haut de la page";
  position: absolute;
  height: 30px;
  width: 120px;
  position: absolute;
  padding: 1em;
}

@media only screen and (max-width: 1200px) {
  .hero-section-title {
    font-size: 4rem;
  }
  #services .services-container {
    justify-content: start;
    flex-wrap: wrap;
  }
  #services .services-container .card {
    height: 150px;
  }
  #services .services-container .card h4 {
    font-size: 1.2rem;
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .filter-buttons {
    justify-content: space-between;
  }
  .filter-title {
    font-size: 1.3rem;
  }
  .filter-button {
    font-size: 13px;
    flex: 1 1 auto;
  }
  .container {
    justify-content: start;
  }
}
@media only screen and (max-width: 823px) {
  .hero-section-title {
    font-size: 2rem;
  }
  .container {
    justify-content: start;
  }
  .main-title {
    font-size: 2rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .card {
    flex-grow: 1;
    width: 100%;
  }
  .filter-tilte {
    display: none;
  }
  .filter-tilte i {
    display: block;
  }
  #services .services-container h4 {
    font-size: 10px;
  }
  .car-text {
    gap: 0.5em;
  }
  .car-text li {
    font-size: 5px;
  }
}
.modal {
  overflow-y: scroll;
}
.modal .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal .container .figure {
  flex: 1 1 auto;
  width: auto;
}
.modal .container .figure img {
  object-fit: cover;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
