@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Syne:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #da192cdb;
$secondary-color: rgba(248, 26, 26, 0.842);
$first-font: 'Syne', sans-serif;
$second-font: 'Share Tech', sans-serif;
$font-color-black: black;
$font-color-white: #fff;
$fw-title: 900;
$btn-hover-bg-shade-amount: 15%;

@mixin display-column($gap, $a-items) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: $a-items;
  gap: $gap;
}
@mixin flex-row($width, $j-c: center, $font-stack, $padding: 0) {
  display: flex;
  justify-content: $j-c;
  align-items: center;
  width: $width;
  padding: $padding;
  font-family: $font-stack;
}
@mixin links-layout($font-stack, $j-c: c) {
  font-family: $font-stack;
  list-style: none;
  display: flex;
  justify-content: $j-c;
  padding: 0;
  gap: 1rem;
  align-items: center;
  & a {
    color: inherit;
    text-decoration: none;
  }
}
@mixin button-style($bg, $font-stack) {
  background-color: $bg;
  font-family: $font-stack;
  padding: .5em 1em;
  border-radius: 0.5em;
  transition: box-shadow, background-color 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  &:hover {
    box-shadow: 0 0 20px $primary-color;
    background-color: rgba(18, 18, 18, 0.629);
  }
}
@mixin main-title($font-stack, $f-weight, $f-size) {
  font-family: $font-stack;
  font-weight: $f-weight;
  font-size: $f-size;
}
@mixin section-title {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: $first-font;
}
@mixin section-border {
  border-top: 4px solid; /* thickness */
  border-image: linear-gradient(
    to right,
    rgba(191, 35, 35, 0.833) 0%,
    #ffff,
    transparent 100%
  );
  border-image-slice: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  @include display-column(2em, center);
  padding: 0;
  overscroll-behavior: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #726f6ff5;
  background-blend-mode: difference;
}
main {
  @include display-column(0, center);
  width: 100%;
  border-radius: 10px;
}
header {
  .navbar {
    @include flex-row(100%, center, $first-font, 1em);
    width: 100%;
    .navbar-brand {
      font-weight: 800;
      color: $primary-color;
      font-size: 1.7rem;
    }
    .navbar-nav {
      @include flex-row(100%, end, $first-font, 1em);
    }
    .nav-item {
      .nav-link {
        font-weight: 700;
        position: relative;
        width: 100%;
        &:hover::before {
          content: '';
          height: 5px;
          width: 100%;
          padding: 0;
          position: absolute;
          background-color: $primary-color;
          bottom: 0;
          left: 0;
          animation: underline 0.3s linear;
          transition: width 0.5 linear;
        }
      }
    }
  }
}
@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.carousel {
  #leftBtn,
  #rightBtn {
    font-size: 2em;

    color: #fff;
    background-color: rgba(0, 0, 0, 0.718);
    border-radius: 5px;
  }
}

.hero-section {
  @include display-column(2em, center);
  justify-content: center;
  background-image: url('../images/developer-8764523.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: darken;
  width: 100%;
  padding: 1em;
  height: 500px;
  position: relative;
  .hero-section-container {
    @include display-column(3em, center);
    width: 100%;
    padding: 2em;
    .contact-link {
      @include button-style($primary-color, $first-font);
      text-decoration: none;
      color: $font-color-white;
      font-size: 1.3rem;
      font-weight: 700;
    }
    .hero-section-subtext {
      @include display-column(2em, center);
      width: 100%;
      font-weight: 600;
      font-size: 1.6em;
      font-family: $second-font;
    }
  }
}
.hero-section-title {
  @include main-title($first-font, 900, 4em);
  text-align: center;
}

#about {
  @include display-column(1em, center);
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.877);
  padding: 1em;
  .about-container {
    @include flex-row(100%, center, $second-font, 1em);
    align-items: center;
    gap: 0em;
    img {
      border-radius: 0.5rem;
      object-fit: cover;
    }
    & .about-me-text {
      @include display-column(1em, center);
      font-family: $first-font;
      padding: 1em;
      flex-basis: 50%;
      & .main-title {
        @include main-title($second-font, 900, 4em);
      }
      .quote-text {
        font-size: 1.2em;
        padding: 1em;
      }
      & .resume-link {
        @include button-style($primary-color, $second-font);
        text-decoration: none;
        color: $font-color-white;
      }
    }
  }
}
.links-to-follow {
  @include display-column(1em, center);
  margin-block: 3em;
  .links-container {
    .links-list {
      @include links-layout($second-font);
    }
  }
}

footer {
  @include flex-row(100%, center, $second-font, 1em);
}

a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-family: $second-font;
}
.my-works {
  @include display-column(1em, center);
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 1em;
  h2 {
    @include section-title();
  }
  background-color: rgb(30 32 33 / 37%);
  .cards-container {
    @include flex-row(100%, center, $first-font);
    flex-wrap: wrap;
    border-radius: 1em;
    gap: 1em;
    padding: 2em;
    .card {
      height: 27rem;
      width: 20rem;
      box-sizing: border-box;
      @include display-column(0, start);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      box-sizing: border-box;
      position: relative;
      justify-content: start;
      gap: 0;
      .card-img-top {
        height: 78%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
      .card-body{
       gap:0;
       padding: 0 .5em;
       h3{
        font-size: 1.2em;
       }
       .btn{
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: 0;
        &:hover{
          text-decoration: underline;
          color: #ffff;
        }
       }
      }
      ul {
        list-style: none;
        @include flex-row(100%, start, $first-font);
        gap: 0.5rem;
        li {
          flex-shrink: 1;
        }
      }
      .extend-icon {
        font-size: 1.3rem;
        position: absolute;
        right: 1em;
        cursor: pointer;
      }
    }
  }
}
#skills {
  @include display-column(1em, center);
  width: 100%;
  padding: 1em;
  h2 {
    @include section-title();
  }
  .skills-and-tools-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    .skills-container {
      @include flex-row(100%, center, $second-font);
      gap: 1rem;
      padding: 1em;
      box-sizing: border-box;
      .front-skills,
      .back-skills,
      .soft-skills {
        height: 340px;
        box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
        -webkit-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
        -moz-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
        padding: 1em;
        border-radius: 10px;
        align-items: center;
        overflow-y: clip;
        transition: max-height, scale 1s linear;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        justify-content: space-around;
        ul {
          list-style: none;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items:center;
          justify-content:space-around;
          padding: 0;
          text-align: center;
          li {
            font-size: 1em;
          }
        }
        h4 {
          font-size: 1.5em;
        }
        .progress {
          width: 100%;
          display: flex;
          height: 35px;
          align-items: center;
          border-radius: 2px;
          padding: 1em;
          background-color: transparent;
          gap: 1rem;
        }
      }
    }
    .tools {
      @include display-column(1em, space-evenly);
      padding: 1em;
      box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
      -webkit-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
      -moz-box-shadow: -2px 6px 17px 0px rgba(175, 157, 157, 0.75);
      text-align: center;
      font-family: $second-font;
      height: 340px;
      justify-content: space-between;
      border: none;
      border-radius:10px;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 0;
        li i {
          font-size: 2.2rem;
        }
      }
    }
  }
}
#services {
  @include display-column(2em, center);
  background-color: rgb(0 0 0 / 29%);
  padding: 1em;
  width: 100%;
  margin: 0;
  .services-container {
    height: 100%;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 1em;
    padding: 2em;
    margin: 0;
    border-radius: 1em;
  }
}
.section-title {
  @include section-title();
}
.modal-dialog {
  height: 500px;
  width: 700px;
  img {
    object-fit: cover;
  }
}
#smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  max-width: 1700px;
  margin: auto;
}

#smooth-content {
  will-change: transform;
}

.filter-buttons {
  @include flex-row(100%, center, $first-font);
  margin-top: 1em;
  gap: 1rem;
  .filter-button {
    @include button-style(rgba(18, 18, 18, 0.875), $first-font);
    border: none;
    font-weight: 600;
    color: #ffffffd9;
  }
  .filter-tilte {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    font-weight: 700;
    i {
      color: $secondary-color;
    }
  }
}
.card {
  box-sizing: border-box;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-card {
  animation: fade-in 0.5s linear;
}
#contact {
  @include display-column(1em, center);
  .container {
    width: 60%;
  }
  i {
    color: $secondary-color;
  }
}

@media only screen and (max-width: 1200px) {
  .hero-section-title {
    font-size: 2.2rem;
  }
  .hero-section{
    .hero-section-container{
      .hero-section-subtext{
        font-size: 1.5rem;
      }
    }
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .filter-buttons {
    justify-content: space-between;
  }
  .filter-title {
    font-size: 1.3rem;
  }
  .filter-button {
    font-size: 13px;
    flex: 1 1 auto;
  }
  .container {
    justify-content: start;
  }
  #skills{
    .skills-and-tools-container{
      flex-wrap: wrap;
      .card{
        flex-basis: 30%;
        flex-grow: 1;
      }
    }
  }
}
@media only screen and (max-width:879px){
  #about{
    .about-container{
      img{
        height: 300px;
      }
    }
  }
}
@media only screen and (max-width:1020px){
  #about{
    .about-container{
      img{
        width: 40%;
      }
    }
  }
}
  

@media only screen and (max-width: 830px) {
  .hero-section-title {
    font-size: 2rem;
  }
  .hero-section-subtext{
    font-size: 1.5rem;
  }
  .container {
    justify-content: start;
  }
  .main-title {
    font-size: 2rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  .card {
    flex-grow: 1;
    width: 100%;
  }
  .filter-tilte {
    display: none;
    i {
      display: block;
    }
  }
  #services {
    .services-container {
      h3 {
        font-size:1em;
      }
    }
  }
  .hero-section{
    .hero-section-container{
      .hero-section-subtext{
        font-size: 1.3rem;
      }
    }
  }
  .car-text {
    gap: 0.5em;
    li {
      font-size: 5px;
    }
  }
  #about {
    .about-container {
      flex-direction: column;
    }
    .quote-text {
      font-size: 1.3rem;
    }
  }
  .skills-and-tools-container{
    .skills-container{
      flex-direction: column;
    }
  flex-direction: column;
  .front-skills, .back-skills, .tools, .soft-skills{
    width: 100%;
  }

}
}


@media only screen and (max-width: 651px) {
  .hero-section-title{
    font-size: 1.5rem;
  }
   .hero-section{
    .hero-section-container{
      .hero-section-subtext{
        font-size: 1rem;
      }
    }
  }
  .card {
    border: none;
  }
  #works {
    padding: 0;
    .cards-container {
      margin: 0;
      padding: 0;
      gap: 1em;
      .card {
        height: 300px;
        gap: 0.5rem;
        border: none;
        flex-shrink: 1;
        img {
          height: 50%;
        }
      }
    }
  
  }
  h1{
      font-size:2 em;
  }
  .filter-buttons {
    display: grid;
    grid: auto/repeat(3, 1fr);
    .filter-button:nth-child(6) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    h3 {
      display: none;
    }
  }
  #about{
    .about-container{
      img{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 515px) {
  .skills-and-tools-container{
    .skills-container{
      .soft-skills{
        justify-content: start;
        padding: 0;
        ul li{
         line-height:1;
        }
      }
    }
  }
  .hero-section {
    height: 300px;
    .hero-section-container {
      justify-content: start;
      .hero-section-title{
        font-size: 1em;
      }
      .hero-section-subtext {
        font-size: .6em;
      }
      .contact-link {
        font-size: 1em;
      }
    }
    h1 {
      font-size: 1.5rem;
      text-align: justify;
    }
  }

  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  #about {
    .about-container {
      img {
        height: 200px;
        width: 100%;
      }
      .about-me-text {
        .quote-text {
          font-size: 1em;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
 .navbar{
   .navbar-brand{
    font-size:2px;
  }
 }
}

.swiper {
  width: 100%;
  height: 350px;
}
.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
  background-color: #1b1a1a88;
  background-blend-mode: darken;
  h3 {
    color: #ffffffee;
    background-color: #14131368;
    padding: 1em;
  }
}
.swiper{
  .swiper-slide{
  &:first-child{
    background-image: url('../images/design.webp');
  }
  &:nth-child(2){
    background-image: url('../images/webd.jpg');
  }
  &:nth-child(3){
    background-image: url('../images/backimg.webp');
  }
  &:nth-child(4){
    background-image: url('../images/bc_code.webp');
  }
  &:nth-child(5){
    background-image: url('../images/seo.webp');
  }
  }
}
