@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body, html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-image: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  overscroll-behavior: none;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 90%;
  padding: 2em 0;
  border-radius: 10px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  padding: 1em 0;
  margin: 0;
  width: 100%;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Syne", sans-serif;
  width: 100%;
}
header .navbar .nav-links {
  font-family: "Syne", sans-serif;
  list-style: none;
  display: flex;
  justify-content: c;
  padding: 0;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
header .navbar .nav-links a {
  color: inherit;
  text-decoration: none;
}
header .navbar .nav-links #themeBtn {
  background-color: transparent;
  border: none;
}
header .navbar .nav-links .nav-link a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  font-weight: 600;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-image: url("../images/developer-8764523.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.728);
  background-blend-mode: darken;
  width: 100%;
  padding: 1em;
}
.hero-section .hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  width: 100%;
  padding: 1em;
}
.hero-section .hero-section-container .hero-section-subtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  font-weight: 600;
  font-size: 1.6em;
  font-family: "Share Tech", sans-serif;
}

.hero-section-title {
  font-family: "Share Tech", sans-serif;
  font-weight: 900;
  font-size: 5em;
}

.contact-link {
  background-color: rgba(218, 25, 44, 0.8588235294);
  font-family: "Share Tech", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 2em;
}
.contact-link:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
#about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Share Tech", sans-serif;
  gap: 0em;
}
#about .about-container .about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-family: "Syne", sans-serif;
  padding: 1em;
  flex-basis: 100%;
}
#about .about-container .about-me-text .main-title {
  font-family: "Share Tech", sans-serif;
  font-weight: 900;
  font-size: 4em;
}
#about .about-container .about-me-text .quote-text {
  font-size: 1.2em;
  padding: 1em;
  width: 90%;
  margin: auto;
}
#about .about-container .about-me-text .resume-link {
  background-color: rgba(218, 25, 44, 0.8588235294);
  font-family: "Share Tech", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  text-decoration: none;
  color: #fff;
}
#about .about-container .about-me-text .resume-link:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
}

.links-to-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-block: 3em;
}
.links-to-follow .links-container .links-list {
  font-family: "Share Tech", sans-serif;
  list-style: none;
  display: flex;
  justify-content: c;
  padding: 0;
  gap: 1rem;
  align-items: center;
}
.links-to-follow .links-container .links-list a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-family: "Share Tech", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Share Tech", sans-serif;
}

.my-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
  padding: 0;
}
.my-works h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}
.my-works .cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  flex-wrap: wrap;
  gap: 1em;
  box-sizing: border-box;
  padding: 2em;
}
.my-works .cards-container .card {
  height: 425px;
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  box-sizing: border-box;
}
.my-works .cards-container .card .card-img-top {
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.my-works .cards-container .card ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  gap: 1em;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
}
#skills .skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
}
#skills .skills-container .skill-card {
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  box-shadow: 5px 5px 10px rgba(58, 56, 56, 0.737254902);
  padding: 1em;
}
#skills .skills-container .skill-card img {
  height: 40%;
  object-fit: cover;
  width: auto;
}
#skills h2 {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
#services .services-container {
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
  padding: 2em 0;
  margin: 0;
}
#services .services-container .card {
  height: 200px;
  text-align: center;
  width: auto;
  background-color: rgba(10, 10, 10, 0.5843137255);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.2s ease-in;
  flex-basis: 20%;
}
#services .services-container .card h4 {
  font-family: "Share Tech", sans-serif;
  font-size: 1.5em;
}
#services .services-container .card:hover {
  transform: translate(0, -0.5em);
}
#services .services-container .card i {
  color: rgba(255, 0, 0, 0.519);
}

.section-title {
  padding: 0.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: "Syne", sans-serif;
}

#smooth-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  max-width: 1700px;
  margin: auto;
}

#smooth-content {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  will-change: transform;
}

#contactBtn {
  background-color: transparent;
  border: none;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: "Syne", sans-serif;
  margin-top: 1em;
  gap: 1rem;
}
.filter-buttons .filter-button {
  background-color: rgba(18, 18, 18, 0.627);
  font-family: "Syne", sans-serif;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px transparent;
  border: none;
  font-weight: 600;
  padding: 0.5em 1.5em;
}
.filter-buttons .filter-button:hover {
  box-shadow: 0 0 20px rgba(218, 25, 44, 0.8588235294);
}

.card {
  box-sizing: border-box;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-card {
  animation: fade-in 1s linear;
}

/*# sourceMappingURL=main.css.map */
